div{
    text-align: left;
    height: 100;
    align-items: left;

    input{
        margin: auto;
    }

    .file-input{
        display: none;
    }

    button{
        text-align: center;
    }

    .upload-btn{
        width: 100%;
    }
}